repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Skip mkdocs.yml
      - id: check-added-large-files
        exclude: (.*Zeitreihen2020\.csv$|docs/notebooks/data/raw/.*)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.4
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs==2.2.3.250527
          - types-PyYAML==6.0.12.20250516
          - types-tqdm==4.67.0.20250417
          - numpy
          - matplotlib
        args: [--config-file=pyproject.toml]
        pass_filenames: false

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
      - id: nbstripout
        files: ^docs/.*\.ipynb$
